streamlit

langchain
langchain-community
langchain-text-splitters

chromadb

sentence-transformers

transformers
torch
accelerate

pypdf

huggingface-hub

deep-translator

numpy
pandas
